@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

body{
    background: linear-gradient(90deg, rgba(0,36,159,1) 0%, rgba(4,140,194,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    background: #ffffff;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 0.75rem;
}

h1{
    margin-top: 2rem;
    /* color: linear-gradient(90deg, rgba(0,36,159,1) 0%, rgba(4,140,194,1) 100%); */
    /* font-size: 72px; */
    background: linear-gradient(90deg, rgba(0,36,159,1) 0%, rgba(4,140,194,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.input{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 80%;
    gap: 0.5rem;
}


.input input{
    padding: 10px;
    width: 100%;
    border-radius: 0.2rem;
    border: 1px solid darkgray;
}

button{
    width: 80%;
    font-size: 1.3rem;
    padding: 0.5rem;
    font-weight: bold;
    background: rgba(0,36,159,1);
    border: none;
    border-radius: 1rem;
    color: #f6f4f4;
}

button:hover{
    cursor: pointer;
    background: linear-gradient(90deg, rgba(0,36,159,1) 0%, rgba(4,140,194,1) 100%);
}

.qrcode{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
}

img{
    width: 300px;
    height: 300px;
    border: none;
    margin-bottom: 1rem;
    visibility: hidden;
}

